body{
    top: 0px;
    left: 0px;
     
    background: #F1F2F1 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0 auto;
}

.container {
	display: flex;
   
}

.wrap {
	flex-wrap: wrap;
}


.display{
    display:none;
}




