body{
    top: 0px;
    left: 0px;
    height: 1086px;
    background: #F1F2F1 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0 auto;
}

.container {
	display: flex;
   
}

.wrap {
	flex-wrap: wrap;
}


.display{
    display:none;
}




footer{
    display: flex;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
}
.salvar{
    display:inline;
    width: 90%;
    height: 100%;
    background-color:#00995D;
    text-align:center;
    padding-top: 16px;
}

.salvar span{
    font: Bold 16px/19px Trebuchet MS;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    vertical-align: middle;
 
}
.img-salvar{
    vertical-align: middle;
    width: 18px;
    height: 18px;
}
.fechar{
    background-color: #B1D34B;
    width: 10%;
    height: 100%;
    text-align:center;
    padding-top: 16px;
    font: Bold 14px/16px Trebuchet MS;
    letter-spacing: 0;
    color: #60656C;
    opacity: 1;
}
@media (max-width: 600px) {
    .salvar{
        width: 80%;
    }
    .fechar{
        width: 20%;
    }
} 
